* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: Rubikbold;
  src: url(./fonts/Rubik-ExtraBold.ttf);
}

@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik-Regular.ttf);
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* HEADER QISMI */
header {
  margin-bottom: 60px;
  /* padding-top: 66px; */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Background rangini kerakli rangga o'zgartiring */
  z-index: 1000; /* Headerni boshqa elementlardan yuqoriga qo'yish uchun */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
.syt-left {
  display: flex;
}
.header_left {
  /* display: flex; */
}
.sayt_header_log {
  padding-right: 40px;
}
.header_button {
  border-radius: 4px;
  gap: 8px;
  background-color: #70c05b;
  color: #fff;
  border: none;
  padding: 8px 15px 8px 8px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.header_ring {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.hader_input {
  border: 1px solid #70c05b;
  border-radius: 4px;
  padding-right: 60px;
  padding: 8px 120px 8px 0px;
  max-width: 374px;
  width: 100%;
  padding-left: 16px;
}
.izbrane {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.zakas {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.korzinka {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_select {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 11px;
}
select {
  cursor: pointer;

  border: none;
  padding: 8px;
}
/* MAIN-QISMI-SAYTNI  */
.car1 {
  padding-left: 15px;
  background-color: #fff;
}
.card {
  /* background-color: #fff; */
  width: 100%;
  padding-left: 8px;
  display: flex !important;
  flex-wrap: wrap;
  gap: 40px;
  /* padding: 8px 8px 8px 8px; */
}
h1 {
  width: 256px;
  padding-top: 8px;
  border: 1px solid #70c05b;
  color: #70c05b;
  font-family: sans-serif;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;
  padding: 8px 8px;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 8px;
}
h1:hover {
  transition: 0.5s all ease;
  border: #f9f4e2;
  background-color: #ff6633;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-content {
  max-width: 272px;
  /* width: 100%; */
  background-color: #fff;
  /* padding: 10px; */
  margin-bottom: 100px;
}

h3 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-bottom: 8px;
}

h4 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
h3 {
  font-family: Rubikbold;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  padding-bottom: 16px;
}
img {
  background-color: none;
  /* border: 1px solid blue; */
  /* background-color: #fff; */
}

main {
  background-color: #f9f4e2;
  padding-top: 70px;
  margin-top: 90px;
  padding-bottom: 30px;
}

.main_card {
  display: flex !important;
}
.produkt {
  font-family: Rubikbold;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  margin-bottom: 50px;
}
